<div class="row center">
  <div class="span12">
    <h3 class="add-text-shadow"><%= "Your #{@bowl.water_type} Species" %></h3>
    <%= render 'select_bar' %>
  </div>
</div>

<%= render 'your_species_form' %>
