<div class="row">
  <h1 id="top" class="center">About Water Health</h1>

  <hr>

  <div class="span3 health-sidebar">
    <%= render 'sidebar' %>
  </div>

  <div class="span9">
    <%= render 'content' %>
  </div>
</div>
