<h1>About Water Health</h1>

<section>
  <h3>AQUARIUM CYCLING</h3>

  <p>Your aquarium is a delicately balanced ecosystem that depends on the nitrogen cycle. By breaking down the unhealthy elements within the water, this cycle helps generate the “good” bacteria your aquarium needs. Critical to the health and survival of your fish, this cycle is a vital part of every aquarium.</p>

  <p>The first cycle can take 4-6 weeks to complete. Here’s how you can get the cycle started:</p>
  <ol>
    <li>Start slowly and let the aquarium run at least a day before adding any fish.</li>
    <li>Add a few hardy fish such as danios, gouramis or livebearers that can withstand the presence of ammonia and nitrites. Never add more than three fish to your aquarium per week.</li>
    <li>Seed the aquarium with bacteria by purchasing a cycling aid product.</li>
    <li>Do not overcrowd your aquarium. This is sure to lead to toxic ammonia levels.</li>
    <li>Do not overfeed. This is the most common cause of fish loss.</li>
    <li>Frequently test levels of pH, ammonia, nitrite and nitrate. Change some of the water if the levels are elevated.</li>
    <li>Be sure water is at the right temperature for your fish.</li>
  </ol>
</section>

<section>
  <h3>WATER CARE SCHEDULE</h3>

  <p>Maintaining a healthy environment for your fish is an ongoing commitment. You can keep your aquarium in great shape with minimal effort by following this schedule:</p>

  <p><b>Daily:</b></p>
  <ul>
    <li>Check water temperature.</li>
  </ul>

  <p><b>Weekly:</b></p>
  <ul>
    <li>Remove 10% of the water and replace with dechlorinated water.</li>
    <li>Test the water conditions on a regular basis to be sure that pH, ammonia, nitrite, nitrate, hardness, alkalinity and chlorine levels are normal. Water test kits are available for measuring these conditions in stores and at <%=  link_to "PetSmart.com", "http://www.petsmart.com", target: '_blank' %>.</li>
    <li>Scrub for algae (if necessary).</li>
  </ul>

  <p><b>Monthly:</b></p>
  <ul>
    <li>Perform a 25% water change/gravel vacuum and replace with dechlorinated water.</li>
    <li>Perform filter maintenance (i.e., replace filter cartridge, replace carbon, rinse pre-filter, etc.).</li>
    <li>Scrub aquarium for algae.</li>
    <li>Remove plastic plants/decorations and clean (if necessary).</li>
    <li>Replace air stone if used (allows for more efficient operation and makes the air pump last longer).</li>
    <li>Prune live plants (if necessary).</li>
  </ul>
</section>

<section>
  <h3>WATER TEST LOG</h3>

  <p>When preparing your aquarium, it’s important to closely monitor water quality. The information below will help you gauge where your levels should be as well as understand the results.</p>

  <p><b id="ph">pH Level – NORMAL RANGE: 6.5-8.2</b><br>
  This is the measure of the activity (power) of the hydrogen ions in the water. The stability of the pH is related to water alkalinity and hardness. Rapid changes in pH are detrimental to fish.</p>

  <p><b id="chlorine">Chlorine and Chloramine – NORMAL RESULTS: 0.0 mg/L</b><br>
  These are added to city water supplies to make the water supply safe for human consumption. Be certain to always use a dechlorinator when adding water to an aquarium because any amount of chlorine is toxic to fish.</p>

  <p><b id="ammonia">Ammonia – NORMAL RESULTS: 0.0-0.25 mg/L</b><br>
  Aquariums with properly operating filtration systems should have no ammonia present (after they have been cycled). In new aquariums, Ammonia Removers can be used to lower ammonia levels, along with partial water changes.</p>

  <p><b id="nitrite">Nitrite – NORMAL RESULTS: 0.0-0.5 mg/L</b><br>
  Nitrite reduces the ability of the fish’s blood to carry oxygen. You can remove excess nitrite from an aquarium by performing a partial water change. Adding salt to the water at 0.1-0.3% (1-3 teaspoons of aquarium salt per gallon of water) also reduces nitrite toxicity.</p>

  <p><b id="nitrate">Nitrate – NORMAL RANGE: 0-40 mg/L</b><br>
  If nitrate levels exceed 40 mg/L, water changes can be used to lower the concentration. High levels of nitrate can also cause increased algae growth.</p>

  <p><b id="hardness">Hardness – NORMAL RANGE: 100-250 mg/L</b><br>
  Water with high hardness usually has a high pH. Softening the water will lower the pH. Most fish will adapt to moderate hardness levels.</p>

  <p><b id="alkalinity">Alkalinity – NORMAL RANGE: 120-300 mg/L</b><br>
  With low alkalinity water, your aquarium may experience sudden and deadly pH shifts. Increase the alkalinity of the water to stabilize the pH.</p>

  <p><b id="temperature">Temperature – NORMAL RANGE: 74-82º F (23-28º C)</b><br>
  Use an aquarium heater to maintain stable water temperatures. Rapid temperature changes are harmful to tropical fish.</p>
</section>

<section>
  <h3>Understanding Aquatic Filtration</h3>

  <p>Proper filtration is critical to keeping happy, healthy fish. A complete filtration system should neutralize ammonia and nitrites, and remove floating debris and contamination from the water. There are three basic filtration methods: Mechanical, biological and chemical. Each is important, and your filtration system should incorporate all three.</p>

  <p>The following common filtration systems employ each of the three methods:</p>
  <ul>
    <li><b>Undergravel Filters</b> – A slotted plate under the gravel bed is used to provide continuous circulation of the aquarium water.</li>
    <li><b>Power Filters</b> – The most commonly used filtration systems in tanks up to 55 gallons, power filters can be used along with undergravel filters to increase biological filtration (and thus the number of fish you can keep in the tank).</li>
    <li><b>External Power Filters</b> – An external power filter hangs on the back of your aquarium, draws water from the tank and pumps it through a replaceable filter cartridge.</li>
    <li><b>Canister Filters</b> – Canister filtration is most typically used on 55-gallon aquariums and larger and is a very effective means of providing a total filtration system.</li>
  </ul>
</section>