<h2>Fish Bowl's Google Groups Forum</h2>

<p class="add-background">Here you can ask question, and get answers from your fellow Fish Bowlers.<br>
  Also feel free to leave comments, suggestions and report application bugs to help make your <%= link_to 'Fish Bowl', root_path %> experience that much better.</p>

<div class="add-background">
  <iframe id="forum_embed"
          src="javascript:void(0)"
          scrolling="no"
          frameborder="0"
          width="900"
          height="700">
  </iframe>
  <script type="text/javascript">
    document.getElementById('forum_embed').src =
      'https://groups.google.com/forum/embed/?place=forum/fish-bowl-questions'
        + '&showsearch=true&showpopout=true&showtabs=true'
        + '&parenturl=' + encodeURIComponent(window.location.href);
  </script>
</div>
