<h2>Fish Bowl's Google Groups Forum</h2>

<p>Here you can ask question, and get answers from your fellow fish bowlers.<br>
  Also feel free to leave comments and suggestions to help make your <%= link_to 'fish-bowl', root_path %> experience that much better.</p>

<hr>

<iframe id="forum_embed"
        src="javascript:void(0)"
        scrolling="no"
        frameborder="0"
        width="900"
        height="700">
</iframe>
<script type="text/javascript">
  document.getElementById('forum_embed').src =
    'https://groups.google.com/forum/embed/?place=forum/fish-bowl-questions'
      + '&showsearch=true&showpopout=true&showtabs=true'
      + '&parenturl=' + encodeURIComponent(window.location.href);
</script>
