.row
  .small-12.columns
    %h1.center Welcome to Fish Bowl
    %p.center= link_to "Sign Up", new_user_registration_path, class: "button sign-up-btn"
.row
  .medium-8.medium-centered.columns
    = render 'carousel'
    %br/
    .home-background
      %h4 What is Fish Bowl
      %p
        A great way to keep track of one or more aquariums anywhere you can connect to the web. Keep track of
        water levels, take notes of changes you make to your aquariums, join the fish-bowl-questions forum,
        get tips on how to raise or lower different water levels, see little fun facts about your fish,
        and upload pictures of your different tanks.
      %p
        You can use one of our many default species to show who's in your aquarium or create your own species
        complete with your own picture and information.
    %br/
    %h4.center.add-text-shadow= link_to 'Back to top', root_path(anchor: '')
