<div class="hero-unit welcome">
  <div class="sign-up">
    <h1>Welcome to Fish Bowl</h1>

    <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-large btn-primary" %></p>
  </div>
</div>
