.hero-unit
  %h1 Information Sources
  %p
    The facts, figures and images in #{link_to 'fish-bowl.herokuapp.com', root_path},
    were acquired from the many different sources listed below:
  %ul
    %li= link_to 'Petco.com', 'http://www.petco.com', target: '_blank'
    %li= link_to 'PetSmart.com', 'http://www.petsmart.com', target: '_blank'
    %li Jungle, Quick Dip 5-N-1 Test Strips
    %li API, Test Strips Ammonia
