<h1>Water Health Help</h1>

<h3 id="nitrate">About Nitrate</h3>
<p>nitrate!</p>
<h3 id="nitrite">About Nitrite</h3>
<p>nitrite!</p>
<h3 id="hardness">About Hardness</h3>
<p>hardness!</p>
<h3 id="alkalinity">About Alkalinity</h3>
<p>alkalinity!</p>
<h3 id="ph">About pH</h3>
<p>pH!</p>