$fb-dark-green: #004a4c;
$fb-light-green: #e8ffd1;
$fb-topbar-font: #aeaeae;
$fb-topbar-font-hover: #f9f9f9;
$fb-title-dropdown: black;
$fb-title-dropdown-hover: white;
$fb-title-dropdown-background: blue;
