- if current_user.bowls.count == 1
  = render 'layouts/user_bowls'
- elsif current_user.bowls.count > 1
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %i.icon-list.icon-white
      Your Bowls
      %b.caret
    %ul.dropdown-menu
      = render 'layouts/user_bowls'
