- if current_user.bowls.count == 1
  = render 'layouts/user_bowls'
- elsif current_user.bowls.count > 1
  %li.has-submenu
    = link_to '#' do
      %i.icon-list.icon-white
      Your Bowls
      %b.caret
    %ul.menu.dropdown
      = render 'layouts/user_bowls'
