<% if current_user.bowls.count == 1 %>
  <%= render 'layouts/user_bowls' %>
<% elsif current_user.bowls.count > 1 %>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-list icon-white"></i> Your Bowls
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <%= render 'layouts/user_bowls' %>
    </ul>
  </li>
<% end %>