<footer class="navbar navbar-static muted">
  <ul class="nav pull-left">
    <li>
      <a target="_blank" href="http://www.facebook.com/jtb.building">
        JTB Building <i class="icon-fire"></i>
      </a>
    </li>
  </ul>
  <ul class="nav pull-right">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "link", '#' %></li>
  </ul>
</footer>
