<footer class="navbar navbar-static muted">
  <ul class="nav pull-left">
    <li>
      <%= link_to href="http://www.facebook.com/jtb.building", target: "_blank" do %>
        JTB Building <i class="icon-fire"></i>
      <% end %>
    </li>
  </ul>
  <ul class="nav pull-right">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Information Sources", info_sources_path %></li>
  </ul>
</footer>
