<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    Help
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to about_water_health_path do %>
        <i class="icon-question-sign"></i> About Water Health
      <% end %>
    </li>
    <li>
      <%= link_to info_sources_path do %>
        <i class="icon-list"></i> Information Sources
      <% end %>
    </li>
  </ul>
</li>