%li.has-submenu
  = link_to '#' do
    %i.icon-user.icon-white
    User
    %b.caret
  %ul.menu.dropdown
    %li
      = link_to destroy_user_session_path, method: :delete do
        %i.icon-hand-left
        Sign out
    %li
      = link_to edit_user_registration_path do
        %i.icon-wrench
        User settings
