<% current_user.bowls.each do |bowl| %>
  <% if bowl.persisted? %>
    <li>
      <%= link_to bowl do %>
        <i class="icon-flag"></i> <%= bowl.name %>
      <% end %>
    </li>
  <% end %>
<% end %>